body {
  background-color: blueviolet;
  background-image: url(https://as1.ftcdn.net/v2/jpg/03/64/49/20/1000_F_364492002_z4WJ7pm3ecy20OgtksAoZtdMIHn5oHhd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
