<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>
      <div style="background-color: yellow">Zakariya</div>
      <div style="background-color: yellow">Muna</div>
      <span style="background-color: green">Habiba</span>
      <span style="background-color: green">Ayman</span>
      <span style="background-color: green">Yahya</span>

      <p>Shukri</p>
    </h1>
  </body>
</html>
